@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
:root {
  --primary-color: #ff0088;
  --secondary-color: #7C2123;
  --text-color: white
  --font-size: 16px;
  --border-radius: 10px;
}
body{
  background-color: black;
}